$primary-color:#5474FD;
$secondary-color:#FFFF;
$third-color: #f1f1f1;
$fourth-color: #2196F3;
$fifth-color:#0b7dda;
$sixth-color: #496BFE;
$seventh-color: #333;
$eigth-color: #ffffff33;
$ninth-color:  #FF6363;
$tenth-color:#74C0FC;
$eleventh-color:#232323;
$twelveth-color:#ccc;
