@use "color";
@use "fontfamily";

//styles for  TABLET (min-width: 768px) 
@media (min-width: 768px) {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  //styles for header section
  /*styles for heading */
  .main-heading {
    font-size: 36px;
  }

  /*styles for sub-heading */
  .sub-heading {
    font-size: 18px;
  }

  /*sroll down styles*/
  .scroll {
    font-size: 12px;
    margin-top: 10px;
  }
// styles for navigation
  .logo {
    font-size: 10px;
    letter-spacing: 0px;
  }

  /*styles for navigation links*/
.logo {
        font-size: 18px;
    
  }

  .nav-links {
    gap: 5px;

    a {
      font-size: 14px;
      letter-spacing: 0.5px;
    }

  }

}

  
  
  

// styles for  desktop (min-width: 1200px) 
@media (min-width: 1200px) {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  //styles for header section

  /*styles for heading */
  .main-heading {
    font-size: 26px;
  }

  /*styles for sub-heading */
  .sub-heading {
    font-size: 16px;
  }


  /*sroll down styles*/
  .scroll {
    font-size: 10px;
    margin-top: 7px;
  }
  /*navigation styles*/

  .logo {
    font-size: 24px;
  }

  /*styles for navigation links*/
  .nav-links {

    gap: 40px;

    a {

      font-size: 14px;
    }

  }


}
  
    
