@use "color";
@use "fontfamily";

//styles for  TABLET (min-width: 768px) 
@media (min-width: 768px) {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  //styles for header section
  /*styles for heading */
  .main-heading {
    font-size: 36px;
  }

  /*styles for sub-heading */
  .sub-heading {
    font-size: 18px;
  }

  /*sroll down styles*/
  .scroll {
    font-size: 12px;
    margin-top: 10px;
  }

  // styles for navigation
  .logo {
    font-size: 10px;
    letter-spacing: 0px;
  }

  /*styles for navigation links*/
  .logo {
    font-size: 18px;

  }

  .nav-links {
    gap: 5px;

    a {
      font-size: 14px;
      letter-spacing: 0.5px;
    }

  }

  //styles for frame1
  .frame1 {
    padding: 35px;



    /* styles for left section*/
    .left-container {
      h2 {
        font-size: 36px;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        margin-bottom: 30px;
      }


      .explore-btn {
        padding: 5px 10px;
        letter-spacing: 0.3px;
        font-size: 12px;

      }
    }

    /*styles for right section*/
    .right-container {
      gap: 5px;

      img {
        width: 80%;
        border-radius: 4px;
      }

      .top-img {
        align-self: flex-start;

      }

      .bottom-img {
        align-self: flex-end;
      }

    }
  }

  //styles for frame2
  .step__icon {
    font-size: 18px;
  }

  .step__icon--select {
    font-size: 22px;
  }

  .step__label {
    font-size: 12px;
  }


}





// styles for  desktop (min-width: 1200px) 
@media (min-width: 1200px) {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  //styles for header section

  /*styles for heading */
  .main-heading {
    font-size: 26px;
  }

  /*styles for sub-heading */
  .sub-heading {
    font-size: 16px;
  }


  /*sroll down styles*/
  .scroll {
    font-size: 10px;
    margin-top: 7px;
  }

  /*navigation styles*/

  .logo {
    font-size: 24px;
  }

  /*styles for navigation links*/
  .nav-links {

    gap: 40px;

    a {

      font-size: 14px;
    }

  }

  // styles for frame1
  .frame1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    /* styles for left section*/
    .left-container {
      line-height: 2.6;
      width: 50%;

      h2 {
        font-size: 36px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        margin-bottom: 30px;
      }


      .explore-btn {
        font-size: 16px;
        width: 250px;
        height: 50px;
      }
    }

    /*styles for right section*/
    .right-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      img {
        width: 80%;
        border-radius: 4px;
      }

      .top-img {
        align-self: flex-start;

      }

      .bottom-img {
        align-self: flex-end;
      }

    }

  }

  // styles for frame2
  .step__icon {
    font-size: 14px;
  }

  .step__icon--select {
    font-size: 18px;
  }

  .step__label {
    font-size: 8px;
  }


}